extends layout

block content
    .section.no-pad-bot
        #WelcomeDiv.container
            h1.header.center.SecundaryText.text-lighten-2.TitleWP Registrate porfavor
            br
            .row.center
                a#register-button.btn-large.waves-effect.waves-light.NavBarWP.dark-1(href='/reg') Registrate 
            .row.center
                a#register-button.btn-large.waves-effect.waves-light.NavBarWP.dark-1(href='/admin') Admin 

